@font-face {
    font-family: "Gilroy-Black";
    src: url("../fonts/Gilroy-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../fonts/Gilroy-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../fonts/Gilroy-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/Gilroy-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Delrium-NCV";
    src: url("../fonts/Delrium-NCV.woff");
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Gilroy-Bold";
    text-transform: capitalize;
}

p,
ul{
    font-family: "Gilroy-Medium";
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
textarea{
    font-family: "Gilroy-Medium";
    margin: 0;
    padding: 0;
}


span,
a,
button{
    font-family: "Gilroy-Medium";
    margin: 0;
    padding: 0;
}

a:hover{
    color: inherit;
}

body{
    overflow-x: hidden;
    background: #fff;
    font-family: "Gilroy-Regular";
}

main{
    overflow: hidden;
}

a,
button,
input,
textarea:focus{
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.form-group input[type=number]{
  -moz-appearance: textfield;
}

/*Website Custom Style Css For Single Items Start Here*/

/*Heading & Para Style Css*/
.heading-one{
    font-size: 40px;
    line-height: 46px;
}
.heading-two{
    font-size: 32px;
    line-height: 38px;
}
.heading-three{
    font-size: 26px;
    line-height: 32px;
}
.heading-four{
    font-size: 24px;
    line-height: 30px;
}
.heading-five{
    font-size: 22px;
    line-height: 28px;
}
.heading-six{
    font-size: 20px;
    line-height: 26px;
}
p{
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px;
}
li{
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 5px;
}
/*Heading & Para Style Css*/

/*Buttons Style Css*/
.website-main-buttons{
    margin: 30px 0 0;
    display: flex;
    align-items: center;
}
.website-main-buttons a.read-more-btn,
.website-main-buttons button.popup-btn,
.website-main-buttons button.chat-btn,
.website-main-buttons a.call-btn{
    font-size: 18px;
    width: 160px;
    height: 45px;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    position: relative;
}
/*Buttons Style Css*/

/*Website Custom Style Css For Single Items End Here*/

/*Header Css Start Here*/
header{
    background: #fff;
    width: 100%;
    box-shadow: 0 0 20px -5px #b2b2b2;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all .3s ease-in-out;
}
header nav.navbar{
    padding: 10px 0;
    align-items: center;
    position: relative;
}
header nav.navbar .navbar-brand{
    width: 240px;
    padding: 0px 0;
    margin: 0;
}
header nav.navbar .navbar-brand .logo{}
header .navbar-toggler{
    background-color: #fff;
}
header .navbar-toggler:focus{
    box-shadow: none;
}
header .navbar-expand-lg .navbar-collapse{}
header .navbar-collapse .navbar-main-nav{
    display: flex;
    align-items: center;
    width: 100%;
}
header .navbar-main-nav .navbar-main-center{
    width: 100%;
    margin: 0 10px;
}
header .navbar-main-center ul.navbar-nav{
    justify-content: center;
    margin: 0 10px 0;
}
header .navbar-main-center ul.navbar-nav li.nav-item{
    margin: 0 15px;
    transition: all .3s ease-in-out;
}
header .navbar-main-center ul.navbar-nav li.nav-item a.nav-link{
    color: #000;
    font-size: 18px;
    line-height: 26px;
    padding: 15px 0px;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}
header .navbar-main-center ul.navbar-nav li.nav-item:hover a.nav-link{
    color: #02dfbf;
}
header .navbar-main-center ul.navbar-nav li.nav-item.dropdown{}
header ul.navbar-nav .nav-item.dropdown .dropdown-toggle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul.navbar-nav .nav-item.dropdown .dropdown-toggle::after{
    content: "";
    border-width: 5px 5px 0px 5px;
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    margin: 0 0 0 5px;
    transition: all .3s ease-in-out;
}
header ul.navbar-nav .nav-item.dropdown ul.dropdown-menu{
    background: #FEFEFE;
    top: 50px;
    left: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 15px 45px -20px #000;
    padding: 0;
    z-index: 9;
    transition: all .3s ease-in-out;
}
header ul.navbar-nav .nav-item.dropdown ul.dropdown-menu li{
    padding: 0;
    margin: 0;
}
header ul.navbar-nav .nav-item.dropdown ul.dropdown-menu li a{
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 10px;
    margin: 0;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}
header ul.navbar-nav .nav-item.dropdown ul.dropdown-menu li:first-child a{
    border-radius: 10px 10px 0px 0px;
}
header ul.navbar-nav .nav-item.dropdown ul.dropdown-menu li:last-child a{
    border-bottom: none;
    border-radius: 0px 0px 10px 10px;
}
header ul.navbar-nav .nav-item.dropdown ul.dropdown-menu li a:hover{
    background: #1f7468;
    color: #fff;
}
header .navbar-main-nav .website-main-buttons{
    justify-content: center;
    margin: 0;
}
header .navbar-main-nav .website-main-buttons .headphone-head{
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}
header .navbar-main-nav .website-main-buttons .headphone-head i{
    color: #212529;
    font-size: 22px;
    font-weight: 600;
    margin: 0 5px 0 0;
}
header .navbar-main-nav .website-main-buttons .headphone-head span{
    color: #212529;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    display: block;
    margin: 0;
}
header .navbar-main-nav .website-main-buttons button.chat-btn{
    font-family: "Gilroy-ExtraBold";
    background: #02dfbf;
    color: #fff;
    border: 2px solid #02dfbf;
    letter-spacing: 0.5px;
    width: 125px;
    height: inherit;
    padding: 5px 5px;
    margin: 0;
}
header .navbar-main-nav .website-main-buttons button.chat-btn:hover{
   background: #1f7468;
   border: 2px solid #1f7468;
}
/*Header Css End Here*/

/**************************************************************************
 --------------------- Home Page Folds Css Start Here ---------------------
 --------------------------------------------------------------------------
**************************************************************************/

/*Banner Main Section Css Start Here*/
section.banner-main-sec{
    background-image: url(../images/bg-img/banner-main-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    padding: 100px 0 50px;
    margin: 0 0 100px;
    position: relative;
    z-index: 1;
}
.banner-main-sec .banner-main-content{
    text-align: center;
    margin: 0 0 20px;
}
.banner-main-content .heading-one{
    color: #212529;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.banner-main-content p{
    color: #212529;
    font-size: 20px;
    line-height: 26px;
}
.banner-main-content .banner-brands{
    margin: 40px 0;
}
.banner-brands .banner-brands-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-brands .banner-brands-items img{
    width: 140px;
    height: 40px;
    object-fit: scale-down;
    margin: 0 10px 0;
}
.banner-main-content .website-main-buttons{
    margin: 30px 0;
    justify-content: center;
}
.banner-main-content .website-main-buttons button.popup-btn{
    background: #000;
    color: #fff;
    border: 2px solid #000;
    margin: 0 10px 0;
}
.banner-main-content .website-main-buttons button.popup-btn:hover{
    background: #1f7468;
    border: 2px solid #1f7468;
}
.banner-main-content .website-main-buttons button.chat-btn{
    background: transparent;
    color: #000;
    border: 2px solid #000;
    margin: 0 10px 0;
}
.banner-main-content .website-main-buttons button.chat-btn:hover{
    background: #1f7468;
    color: #fff;
}
.banner-main-sec .banner-main-img{
    margin-bottom: -150px;
}
.banner-main-img img{}
/*Banner Main Section Css End Here*/

/*Unlock Story Section Css Start Here*/
section.unlock-story-wrap{
    padding: 50px 0;
    position: relative;
    z-index: 1;
}
.unlock-story-wrap .unlock-story-inner{}
.unlock-story-inner .unlock-story-content{}
.unlock-story-content .heading-three{
    color: #212529;
    margin: 0 0 20px;
}
.unlock-story-content .heading-three span{
    color: #02dfbf;
    font-size: 20px;
    line-height: 26px;
    display: block;
    margin: 0 0 5px;
}
.unlock-story-content p{
    color: #212529;
    margin: 0 0 10px;
}
.unlock-story-content p a{
    color: #1f7468;
    text-decoration: underline;
}
.unlock-story-content .website-main-buttons{}
.unlock-story-content .website-main-buttons button.popup-btn{
    background: #000;
    color: #fff;
    border: 2px solid #000;
}
.unlock-story-content .website-main-buttons button.popup-btn:hover{
    background: #1f7468;
    border: 2px solid #1f7468;
}
.unlock-story-content .website-main-buttons button.chat-btn{
    background: transparent;
    color: #000;
    border: 2px solid #000;
}
.unlock-story-content .website-main-buttons button.chat-btn:hover{
    background: #1f7468;
    color: #fff;
}
.unlock-story-inner .unlock-story-img{
    text-align: right;
}
.unlock-story-img img{
    width: 60%;
}
/*Unlock Story Section Css End Here*/

/*Counter Satisfy Section Css Start Here*/
section.counter-satisfy-wrap{
    padding: 30px 0;
}
.counter-satisfy-wrap .counter-satisfy-inner{
    background: #092b35;
    padding: 30px 30px;
    border-radius: 20px;
}
.counter-satisfy-inner .counter-satisfy-head{
    width: 90%;
    margin: 0 auto 30px;
    text-align: center;
}
.counter-satisfy-head .heading-three{
    color: #fff;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.counter-satisfy-head p{
    color: #fff;
    margin: 0 0 10px;
}
.counter-satisfy-inner .counter-satisfy-items{
    display: flex;
    justify-content: space-between;
}
.counter-satisfy-items .counter-satisfy-box{
    background: #02dfbf;
    width: 225px;
    height: 225px;
    border-radius: 20px;
    padding: 20px 15px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.counter-satisfy-box .counter-box-img{
    margin: 0 0 10px;
}
.counter-box-img img{
    object-fit: contain;
}
.counter-satisfy-box .counter-box-head{}
.counter-satisfy-box .counter-box-head .heading-two{
    color: #fff;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.counter-satisfy-box .counter-box-head .heading-two span{
    font-family: "Gilroy-Bold";
}
.counter-satisfy-box p{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0;
}
/*Counter Satisfy Section Css End Here*/

/*Service Offer Section Css Start Here*/
section.service-offer-wrap{
    padding: 50px 0;
}
.service-offer-wrap .service-offer-head{
    margin: 0 0 50px;
}
.service-offer-head .offer-head-content{}
.offer-head-content .heading-two{
    color: #212529;
    margin: 0 0 10px;
}
.offer-head-content p{
    color: #212529;
}
.offer-head-content .website-main-buttons{}
.offer-head-content .website-main-buttons button.popup-btn{
    background: #000;
    color: #fff;
    border: 2px solid #000;
}
.offer-head-content .website-main-buttons button.popup-btn:hover{
    background: #1f7468;
    border: 2px solid #1f7468;
}
.offer-head-content .website-main-buttons button.chat-btn{
    background: transparent;
    color: #000;
    border: 2px solid #000;
}
.offer-head-content .website-main-buttons button.chat-btn:hover{
    background: #1f7468;
    color: #fff;
}
.service-offer-head .offer-head-img{
    text-align: right;
}
.offer-head-img img{
    width: 75%;
}
.service-offer-wrap .service-offer-inner{}
.service-offer-inner .service-offer-box{
    background-color: #e7f6fb;
    padding: 20px 20px;
    margin: 0 0 20px;
    border-radius: 30px 30px;
    transition: all .5s ease-in-out;
}
.service-offer-box:hover{
    transform: scale(1.1);
}
.service-offer-box .offer-box-head{
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}
.offer-box-head .offer-box-img{
    background: #000;
    width: 95px;
    height: 95px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.offer-box-img img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.offer-box-head a{}
.offer-box-head .heading-six{
    color: #000;
    margin: 0;
}
.service-offer-box .offer-box-content{
    min-height: 0px;
    max-height: 0px;
    overflow-y: auto;
    padding: 0 5px;
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.service-offer-box:hover .offer-box-content{
    min-height: 190px;
    max-height: 190px;
    visibility: visible;
    opacity: 1;
}
.offer-box-content::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    border-radius: 0px;
}
.offer-box-content::-webkit-scrollbar{
    width: 3px;
    background: #b2b2b2;
    border-radius: 0px;
}
.offer-box-content::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 0px;
}
.offer-box-content p{
    color: #212529;
    margin: 0 0 10px;
}
/*Service Offer Section Css End Here*/

/*Banner Down Brands Section Css Start Here*/
section.bandown-brands-wrap{
    background: #f7ffff;
    position: relative;
    padding: 30px 0;
}
.bandown-brands-wrap .bandown-brands-head{
    width: 90%;
    margin: 0 auto 30px;
    text-align: center;
}
.bandown-brands-head .heading-two{
    color: #212529;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.bandown-brands-head p{
    color: #212529;
}
.bandown-brands-wrap .bandown-brands-inner{}
.bandown-brands-inner .bandown-brands-item{}
.bandown-brands-item .slick-arrow{
    display: none !important;
}
.bandown-brands-item .brands-item-img{
    margin: 0 10px;
}
.brands-item-img img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0 auto;
}
/*Banner Down Brands Section Css End Here*/

/*Main CTA Section Css Start Here*/
section.cta-main-wrap{
    background: #f7ffff;
    padding: 50px 0;
}
.cta-main-wrap .cta-main-inner{
    background-image: url(../images/bg-img/cta-main-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 100%;
    padding: 30px 30px;
    border-radius: 35px 35px;
    position: relative;
    z-index: 1;
}
.cta-main-inner::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #d3cccc;
    width: 100%;
    opacity: 0.1;
    z-index: -1;
    border-radius: 35px 35px;
}
.cta-main-wrap .cta-main-content{}
.cta-main-content .heading-three{
    color: #212529;
    margin: 0 0 10px;
}
.cta-main-content p{
    color: #212529;
}
.cta-main-content .website-main-buttons{}
.cta-main-content .website-main-buttons button.popup-btn{
    background: #000;
    color: #fff;
    border: 2px solid #000;
}
.cta-main-content .website-main-buttons button.popup-btn:hover{
    background: #1f7468;
    border: 2px solid #1f7468;
}
.cta-main-content .website-main-buttons button.chat-btn{
    background: transparent;
    color: #000;
    border: 2px solid #000;
}
.cta-main-content .website-main-buttons button.chat-btn:hover{
    background: #1f7468;
    color: #fff;
}
.cta-main-wrap .cta-main-img{
    position: relative;
    text-align: center;
}
.cta-main-wrap .cta-main-img img{
    position: absolute;
    width: 55%;
    top: -190px;
    left: 35%;
}
/*Main CTA Section Css End Here*/

/*Portfolio Publish Section Css Start Here*/
section.portfolio-publish-wrap{
    padding: 50px 0;
    position: relative;
    z-index: 1;
}
.portfolio-publish-wrap .portfolio-publish-head{
    margin: 0 0 30px;
}
.portfolio-publish-head .heading-two{
    color: #212529;
    margin: 0 0 10px;
}
.portfolio-publish-head p{
    color: #212529;
}
.portfolio-publish-wrap .portfolio-publish-inner{}
.portfolio-publish-inner .portfolio-publish-buttons{}
.portfolio-publish-buttons ul.nav-pills{}
.portfolio-publish-buttons ul.nav-pills li.nav-item{
    margin: 0 0px 15px;
}
.portfolio-publish-buttons ul.nav-pills li.nav-item button.nav-link{
    background: #d5d5d5;
    color: #8d8d8d;
    border: 2px solid transparent;
    border-bottom: 2px solid #d5d5d5;
    font-size: 22px;
    text-transform: uppercase;
    width: 175px;
    height: 45px;
    border-radius: 10px;
    padding: 6px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.portfolio-publish-buttons ul.nav-pills li.nav-item button.nav-link.active{
    background: #092b35;
    color: #fff;
    border: 2px solid #092b35;
}
.portfolio-publish-wrap .portfolio-publish-tabitem{}
#pills-portfolio1 .portfolio-tabitem-inner{
    background-image: url(../images/portfolio-publish/radius-bg.jpg);
}
#pills-portfolio2 .portfolio-tabitem-inner{
    background-image: url(../images/portfolio-publish/totem-bg.jpg);
}
#pills-portfolio3 .portfolio-tabitem-inner{
    background-image: url(../images/portfolio-publish/irt-bg.jpg);
}
#pills-portfolio4 .portfolio-tabitem-inner{
    background-image: url(../images/portfolio-publish/wyze-bg.avif);
}
#pills-portfolio5 .portfolio-tabitem-inner{
    background-image: url(../images/portfolio-publish/viator-bg.avif);
}
#pills-portfolio6 .portfolio-tabitem-inner{
    background-image: url(../images/portfolio-publish/k-mint-bg.avif);
}
#pills-portfolio7 .portfolio-tabitem-inner{
    background-image: url(../images/portfolio-publish/dicast-bg.avif);
}
.portfolio-publish-tabitem .portfolio-tabitem-inner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    padding: 40px 30px;
    border-radius: 50px;
    height: 420px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.portfolio-tabitem-inner::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
    border-radius: 50px;
}
.portfolio-tabitem-inner .portfolio-tabitem-content{}
.portfolio-tabitem-content .heading-two{
    color: #fff;
    margin: 0 0 10px;
}
.portfolio-tabitem-content p{
    color: #fff;
}
.portfolio-tabitem-inner .portfolio-tabitem-img{
    position: relative;
    top: 75px;
    left: 10px;
}
.portfolio-tabitem-img img{
    width: 134px;
}
/*Portfolio Publish Section Css End Here*/

/*Step Works Section Css Start Here*/
section.step-works-wrap{
    background: #f7ffff;
    padding: 50px 0;
}
.step-works-wrap .step-works-head{
    width: 90%;
    text-align: center;
    margin: 0 auto 30px;
}
.step-works-head .heading-two{
    color: #212529;
    margin: 0 0 10px;
}
.step-works-head p{
    color: #212529;
}
.step-works-wrap .step-works-inner{}
.step-works-inner .step-works-box{
    position: relative;
    padding: 20px 20px;
    margin: 0 30px;
    z-index: 1;
}
.step-works-box span.step-count{
    font-family: "Delrium-NCV";
    position: absolute;
    top: -75px;
    color: #f7ffff;
    font-size: 240px;
    -webkit-text-stroke: 2px #d5d5d5;
    text-shadow: 0px 0px 0 #d55050;
    z-index: -1;
}
.step-works-box .works-box-content{}
.works-box-content .heading-two{
    color: #212529;
    height: 40px;
    margin: 0 0 40px;
}
.works-box-content p{
    color: #212529;
}
.works-box-content p::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    border-radius: 0px;
}
.works-box-content p::-webkit-scrollbar{
    width: 3px;
    background: #b2b2b2;
    border-radius: 0px;
}
.works-box-content p::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 0px;
}
/*Step Works Section Css End Here*/

/*Award Brands Section Css Start Here*/
section.award-brands-wrap{
    padding: 30px 0px;
}
.award-brands-wrap .award-brands-content{}
.award-brands-content .heading-three{
    color: #000;
    margin: 0 0 10px;
}
.award-brands-wrap .award-brands-slider{
    margin: 0 20px 0;
}
.award-brands-slider .slick-arrow{
    top: 25%;
    position: absolute;
    background: none;
    border: none;
    font-size: 0;
    z-index: 9;
    display: none !important;
}
.award-brands-slider .slick-prev{
    left: -15px;
}
.award-brands-slider .slick-prev:before{
    content: '\f104';
    position: absolute;
    font-family: 'Font Awesome 6 Pro';
    font-size: 32px;
    color: #000;
}
.award-brands-slider .slick-next{
    right: -25px;
}
.award-brands-slider .slick-next:before{
    content: '\f105';
    position: absolute;
    font-family: 'Font Awesome 6 Pro';
    font-size: 32px;
    color: #000;
    right: 10px;
}
.award-brands-slider .award-brands-box{
    margin: 0 20px 0;
}
.award-brands-box img{
    width: 105px;
    height: 75px;
    object-fit: contain;
    margin: 0 auto;
}
/*Award Brands Section Css End Here*/

/*Why Choose Section Css Start Here*/
section.why-choose-wrap{
    background: #f7ffff;
    padding: 50px 0;
}
.why-choose-wrap .why-choose-head{
    margin: 0 0 50px;
}
.why-choose-head .choose-head-content{}
.choose-head-content .heading-two span{
    color: #02dfbf;
    font-size: 20px;
    line-height: 26px;
    display: block;
    margin: 0 0 5px;
}
.choose-head-content .heading-two{
    color: #212529;
    margin: 0 0 10px;
}
.choose-head-content p{
    color: #212529;
}
.why-choose-head .choose-head-img{
    position: relative;
    text-align: right;
}
.choose-head-img img{
    width: 65%;
    position: absolute;
    top: -125px;
    right: -125px;
}
.why-choose-wrap .why-choose-inner{
    padding: 40px 40px;
    border-radius: 50px;
    box-shadow: 0 5px 20px -5px #b2b2b2;
}
.why-choose-inner .why-choose-box{
    margin: 0 0 40px;
}
.why-choose-box .choose-box-head{
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}
.choose-box-head .choose-box-img{
    margin: 0 20px 0 0;
}
.choose-box-img img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.choose-box-head .heading-three{
    color: #212529;
    margin: 0;
}
.why-choose-box .choose-box-content{}
.choose-box-content p{
    color: #212529;
}
/*Why Choose Section Css End Here*/

/*CTA Banner Section Css Start Here*/
section.cta-banner-wrap{
    background: #f7ffff;
    padding: 50px 0;
}
.cta-banner-wrap .cta-banner-inner{
    background: #092b35;
    padding: 30px 30px;
    border-radius: 35px 35px;
    position: relative;
    z-index: 1;
}
.cta-banner-wrap .cta-banner-content{}
.cta-banner-content .heading-three{
    color: #fff;
    margin: 0 0 10px;
}
.cta-banner-content p{
    color: #fff;
}
.cta-banner-content .website-main-buttons{}
.cta-banner-content .website-main-buttons button.popup-btn{
    background: #02dfbf;
    color: #fff;
    border: 2px solid #02dfbf;
}
.cta-banner-content .website-main-buttons button.popup-btn:hover{
    background: #1f7468;
    border: 2px solid #1f7468;
}
.cta-banner-content .website-main-buttons button.chat-btn{
    background: transparent;
    color: #02dfbf;
    border: 2px solid #02dfbf;
}
.cta-banner-content .website-main-buttons button.chat-btn:hover{
    background: #1f7468;
    color: #fff;
    border: 2px solid #1f7468;
}
.cta-banner-wrap .cta-banner-img{
    position: relative;
    text-align: center;
}
.cta-banner-wrap .cta-banner-img img{
    position: absolute;
    width: 50%;
    top: -190px;
    left: 35%;
}
/*CTA Banner Section Css End Here*/

/*Genre industry Section Css Start Here*/
section.genre-industry-wrap{
    background: #f7ffff;
    padding: 50px 0;
}
.genre-industry-wrap .genre-industry-head{
    width: 90%;
    text-align: center;
    margin: 0 auto 30px;
}
.genre-industry-head .heading-two{
    color: #212529;
    margin: 0 0 10px;
}
.genre-industry-head p{
    color: #212529;
}
.genre-industry-wrap .genre-industry-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.genre-industry-inner .genre-industry-box{
    text-align: center;
    margin: 0 0 20px;
}
.genre-industry-box img{
    width: 60px;
    height: 60px;
    margin: 20px 0;
}
.genre-industry-box a{
    font-family: "Gilroy-bOLD";
    color: #000;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10PX;
    text-transform: capitalize;
    display: block;
}
/*Genre industry Section Css End Here*/

/* FAQS Section Css Start Here*/
section.faqs-sec-wrap{
    padding: 50px 0;
}
.faqs-sec-wrap .container-fluid{
    padding: 0 0 0 120px;
}
.faqs-sec-wrap .faqs-sec-head{
    margin: 0 0 30px;
}
.faqs-sec-head .heading-two{
    color: #212529;
    margin: 0 0 10px;
}
.faqs-sec-head p{
    color: #212529;
}
.faqs-sec-wrap .faqs-tab-list{}
.faqs-tab-list ul.nav-pills{
    display: inline-grid;
    width: 100%
}
.faqs-tab-list ul.nav-pills li.nav-item{
    margin: 0 0 30px
}
.faqs-tab-list ul.nav-pills li.nav-item:last-child{
    margin: 0;
}
.faqs-tab-list ul.nav-pills li.nav-item button.nav-link{
    background: transparent;
    color: #212529;
    border: none;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    width: 100%;
    border-radius: 5px 5px;
    padding: 10px 10px;
    position: relative;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}
.faqs-tab-list ul.nav-pills li.nav-item button.nav-link.active{
    background: #092b35;
    color: #fff;
}
.faqs-tab-list ul.nav-pills li.nav-item button.nav-link::after{
    content: '\f054';
    font-family: "Font Awesome 6 Pro";
    color: #000;
    position: absolute;
    right: 10px;
    transition: all .3s ease-in-out;
}
.faqs-tab-list ul.nav-pills li.nav-item button.nav-link.active::after{
    color: #fff;
}
.faqs-sec-wrap .faqs-tab-content{}
.faqs-tab-content .faqs-tab-inner{}
.faqs-tab-inner .faqs-tab-inner-img{}
.faqs-tab-inner-img img{}
.faqs-tab-inner .faqs-tab-inner-content{
    padding: 0px 20px;
}
.faqs-tab-inner-content .heading-four{
    color: #212529;
}
.faqs-tab-inner-content p{
    color: #212529;
    margin: 0 0 10px;
}
.faqs-tab-inner-content ul{
    margin: 20px 0;
    list-style: disc;
    padding: 0 0 0 20px;
}
.faqs-tab-inner-content li{}
.faqs-tab-inner-content li p{}
.faqs-tab-inner-content li p b{}
/*FAQS Section Section Css End Here*/

/**************************************************************************
 --------------------- Home Page Folds Css End Here -----------------------
 --------------------------------------------------------------------------
**************************************************************************/